.hero-section {
  background-color: #121619;
  position: relative;
  min-height: 800px;
  z-index: 9999999;
  background-image: url(../../asset/chef-bg.png);
}

/* .hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
} */

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.nav-link {
  padding: 15px 18px;
  font-size: 16px;
  padding-left: 18px !important;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  cursor: pointer;
  color: #fff !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #fd9d3e !important;
}

.hero-section .product-name {
  font-size: 70px;
  color: #fefefe;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-section .product-description {
  font-size: 24px;
  color: #fd9d3e;
  text-transform: uppercase;
  letter-spacing: 9px;
}

.hero-section .price {
  font-size: 20px;
  color: #fff;
}

.hero-section .cart-btn {
  background: #34394c;
  padding: 10px 18px;
  border: 0px;
  border-radius: 3px;
  color: #f2f2f2 !important;
  font-weight: 900;
}

.hero-section .order-area {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section .nav-link i {
  font-size: 20px;
}
.hero-product .cart-btn {
  cursor: pointer;
}

/* pages hover */
.pages-dropdown {
  position: relative;
}

.pages-hover {
  position: absolute;
  top: 41px;
  left: -11px;
  width: 113px;
  z-index: 999999;
  background: #fff;
  padding: 3px 0px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.pages-dropdown:hover .pages-hover {
  visibility: visible;
  opacity: 1;
}
.pages-hover ul li {
  list-style-type: square;
}

.pages-hover ul li a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 330px) {
  .btn-area .cmn-btn {
    padding: 17px 36px;
  }
}

@media screen and (max-width: 560px) {
  .hero-product {
    flex-direction: column-reverse;
  }
  .hero-product img {
    width: 200px;
  }
  .hero-section .product-name {
    font-size: 33px;
    text-align: center;
    margin-top: 0px !important;
  }
  .hero-section {
    min-height: 692px;
  }
  .hero-section .order-area {
    position: absolute;
    bottom: 0;
  }
}
